body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav-bar{
    display: flex;
    background: #F55A5A;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
    padding: 7px;
    
}
.nav-title{
    font-weight: 600;
}

.card{
    max-width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 19px;
    margin: 25px 0;
    padding: 0px 403px;
}

.location-icon{
    width: 14px;
    height: auto;
    margin-right: 4px;
}

.card-img{
    width: 200px;
    height: 280px;
    border-radius: 5px;
}

.card-country{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.card-country p{
    letter-spacing: 1.74px;
    text-transform: uppercase;
 }
.card-country a{
    color: #918E9B;
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
}

.card-title{
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
}
.card-details{
    margin-top: 15px;
}
.card-date{
    font-weight: bold;
    font-size: 14px;
    padding-top: 7px;
}
hr {
    border: none;
    width: 46.5%;
    height: 1px;
    background-color: rgb(226, 225, 225);
}

.cards-conatainer{
    padding-top: 25px;
}